.table{
    width: 70%;
    margin-left: 15%;
    text-align: center;
}
.table p{
  border-bottom: 2px #253E7E59 solid;
  padding: 5px;
}
.logoField{
    width: 95%;
    margin-left: 2.5%;
}