.dashHeading{
    text-align: center;
    font-weight: 600;
    margin: 10px 0px;
    font-size: 36px;
}
.btnPrimary{
    background-color: #253E7E;
    padding: 5px 16px;
    color: white;
    border: none;
    border-radius: 5px;
    width: 200px;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    /* margin-left: 42%;     */
    border: 1px solid #253E7E;
    transition: all 0.5s ease;

}
.btnPrimary:hover{
    background-color: white;
    color: #253E7E;
}
.btnPrimaryDiv{
    height: 40px;
}
.input{
    border-color: #253E7E;
    border-width: 2px;
}
/* .custom-file-input:lang(en)~.custom-file-label::after {
    content: "Browse";
    background-color: #253E7E;
} */

input[type="file"] {
    display: none;
}
.customFileUpload {
    border: 2px solid #253E7E;
    border-radius: 4px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;

}
.customFileUpload:hover{
    background-color: #253E7E;
    color: white;
    transition: all 0.5s ease;
}
.noHover{
    pointer-events: none;
    background-color: white;
    color: black;
    transition: all 0.5s ease;
}