.dashHeading{
    text-align: center;
    font-weight: 600;
    margin: 10px 0px;
    font-size: 36px;
}
.btnPrimary{
    background-color: #253E7E;
    padding: 5px 16px;
    color: white;
    border: none;
    border-radius: 5px;
    width: 200px;
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
    /* margin-left: 42%;     */
    border: 1px solid #253E7E;
    transition: all 0.5s ease;
}
.btnPrimary:hover{
    background-color: white;
    color: #253E7E;
}
.btnPrimaryDiv{
    height: 40px;
}
.input{
    border-color: #253E7E;
    border-width: 2px;
}
/* .custom-file-input:lang(en)~.custom-file-label::after {
    content: "Browse";
    background-color: #253E7E;
} */

input[type="file"] {
    display: none;
}
.customFileUpload {
    border: 2px solid #253E7E;
    border-radius: 4px;
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 6px 12px;
    cursor: pointer;

}
.customFileUpload:hover{
    background-color: #253E7E;
    color: white;
    transition: all 0.5s ease;
}
.noHover{
    pointer-events: none;
    background-color: white;
    color: black;   
    transition: all 0.5s ease;
}
.compose{
    position: fixed;
    top: 100px;
    left: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding:6px;
    background-color:#253E7E;
    color:white;
    font-size:1.03em;
}
.compose:hover{
    width:150px;
    height:50px;
    border-radius: 43px;
    padding:6px;
    color:white;
    transition:all 0.6s ease 0s;
    font-size:1.02em;
}
.composeSpan {
    opacity: 0;
 }
 .compose:hover span {
    opacity: 1;
    transition: all 0.3s ease 0s;
 }
 .compose:hover span:after {
    content:"Compose";
 }

.headingPopup{
    background-color: #253E7E;
    color: white;
    font-size: 18px;
    padding: 4px 10px;
    border-radius: 4px 4px 0px 0px;

    height: 35px;
}
.headingPopup button{
    float: right;
    background: none;
    border: none;
    color: white;
    height: 35px;
    font-size: 30px;
    margin-top: -10px;
}
.fromto{
    outline: 0;
    border-width: 0 0 1px;
    border-color: #253E7E;
    width: 95%;
    margin-left: 2.5%;
    margin-top: 10px;
}
.fromto:focus{
    border-width: 0 0 1.5px;
}
.emailtextarea{
    resize: none;
    border: none;
    margin-top: 10px;
    width: 95%;
    margin-left: 2.5%;
    height: 55%;
}
.emailtextarea:focus{
    outline-color: gray;
    outline-width: 1.25px;
    outline-style: dashed;
}
.popupTopBtns{
    float: right;
}
.popupTopBtns button{
    background: none;
    border: none;
    width: 40px;
}
.attachFile{
    cursor: pointer;
    transform: rotate(45deg)
}

.mailPopupLoader{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);

}

.attachImages{
    width: 40px;
    height: 40px;
}
.attachSpan{
    width: 75px;
    white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.modalButtons{
    width: 70%;
    margin-left: 15%;
    padding: 8px 20px;
    font-size: large;
    border: 1px #253E7E solid;
    background-color: #253E7E;
    color: white;
    border-radius: 8px;
    margin-bottom: 3px;

}