.btnAdd{
    float: right;
    margin-right: 8%;
    background-color: #253E7E;
    color: white;
    border: #253E7E 1px solid;
    padding: 4px 10px;
    border-radius: 4px;
    margin-top: -20px;
}