.formCreate{
    width: 35%;
    margin-left: 32.5%;
}
.input{
    border-color: #253E7E;
    border-width: 2px;
}
.add{
    background-color: #253E7E;
    color: white;
    border-color: #253E7E;
    border-style: solid;
    border-radius: 4px;
    width: 100px;
}
.add:hover{
    background-color: white;
    color: #253E7E;
    transition: all 0.5s ease;
}
.listBlock{
    min-height: 30vh;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.13);
    border-radius: 10px;
    width: 60%;
    margin-left: 20%;
    margin-bottom: 50px;
    padding-bottom: 10px;
}
.listElem{
    padding: 15px 30px;
    border-bottom: 1px solid gray;
    color: #253E7E;
    font-weight: 600;
    font-size: 18px;
}
.delBtn{
    margin-top: -15px;
    /* position: absolute;
    right: 280px; */
    height: 57px;
    float: right;
    border: none;
    width: 60px;
    font-size: xx-large;
    background-color: rgba(255, 255, 255, 0);
    border-left: 1px gray solid;
}
.submitBtn{
    background-color: #253E7E;
    border: #253E7E solid 1px;
    border-radius: 4px;
    width: 100%;
    padding: 6px 12px;
    color: white;
}
@media only screen and (max-width:830px){
    .formCreate{
        width: 60%;
        margin-left: 20%;
    }
    .listBlock{
        width: 80%;
        margin-left: 10%;
    }
}
@media only screen and (max-width:482px){
    .formCreate{
        font-size: 14px;
    }
}

@media only screen and (max-width:540px){
    .listElem,.delBtn{
        font-size: 14px;
    }
}